@model Source

<script>
    function createNewSource() {
        var name = $('#newSourceName').val();
        var urlHome = $('#newSourceUrlHome').val();
        var urlRss = $('#newSourceUrlRss').val();

        console.log(name);
        console.log(urlHome);
        console.log(urlRss);

        if (name && urlHome && urlRss) {
            $.ajax({
                type: "POST",
                url: "http://localhost:50000/api/sources",
                data: {
                    name: name,
                    urlHome: urlHome,
                    urlRss: urlRss,
                    tags: [
                        { name: 'tag1' },
                        { name: 'tag2' }
                    ]
                },
                success: function (data) {
                    console.log(data);
                }
            });
        }
    }
</script>

<label asp-for="Name"></label>
<input id="newSourceName">
<label asp-for="UrlHome"></label>
<input id="newSourceUrlHome">
<label asp-for="UrlRss"></label>
<input id="newSourceUrlRss">
<button onclick="createNewSource();">OK</button>
